<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chawla Gym</title>
    style
        include style.css
</head>
<body>
    <div class="nav"><ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact us</a></li></ul></div>
      <h2>Get this gym membership for $60 -Fill this form now!</h2>
      <form action="/" method="post" id="contact">
      <input type="text" name="name" placeholder="Name" id="name">
      <input type="text" name="gender" placeholder="Gender" id="gender">
      <input type="number" name="age" placeholder="Age" id="age">
      <input name="address" placeholder="Your Living place" id="address">
      <button class="btn">Submit</button>
    </form>
</body>
</html>